:root {
  /* color */
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(201, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);

  --dark-light-blue: hsl(233, 39%, 45%);
  --dark-strong-cyan: hsl(171, 89%, 30%);

  /* hover button background */
  --light-green-hover: hsl(171.5, 51.5%, 60%);
  --light-blue-hover: hsl(235, 100%, 80%);

  /* font */
  --font-bai-jamjuree: "Bai Jamjuree", sans-serif;

  --fn-weight-normal: 400;
  --fn-weight-bold: 600;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  width: 100vw;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  background-image: url(../images/bg-header-desktop.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 18px;
  font-family: var(--font-bai-jamjuree);
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* editing starts from here */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 6.5rem;
  text-align: center;
}

.logo-header {
  width: 7.1rem;
  margin-top: 1rem;
  margin-bottom: 2.8rem;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.6rem;
  color: var(--dark-grayish-blue);
  text-align: center;
}

.header p {
  font-size: 1.15rem;
  text-align: center;
  width: 65%;
  margin-bottom: 2.2rem;
  color: var(--grayish-blue);
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: wrap;
  text-align: center;
}

.btn {
  font-size: 0.95rem;
  font-weight: var(--fn-weight-bold);
  margin: 0.5rem;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  color: white;
  letter-spacing: 1px;
}

.download-ios {
  background-color: var(--strong-cyan);
  border-bottom: 0.186rem solid var(--dark-strong-cyan);
}

.download-mac {
  background-color: var(--light-blue);
  border-bottom: 0.186rem solid var(--dark-light-blue);
}
/* hover */
.download-ios:hover,
.download-ios:focus {
  background-color: var(--light-green-hover);
  border-bottom: 0.186rem solid hsla(160, 80%, 30%, 0.35);
  box-shadow: 0px 2px 12px -2px hsl(171, 66%, 44%);
  text-shadow: 1px 1px 1px var(--dark-strong-cyan);
  transition: all 0.2s;
}

.download-mac:hover,
.download-mac:focus {
  background-color: var(--light-blue-hover);
  border-bottom: 0.186rem solid hsla(233, 39%, 45%, 0.35);
  box-shadow: 0px 2px 12px -2px hsl(233, 100%, 69%);
  text-shadow: 1px 1px 1px var(--light-blue);
  transition: all 0.2s;
}

/* section-1 */
.section-1 {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 6.5rem 0;
}

.section-1 h2 {
  color: var(--dark-grayish-blue);
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

.section-1 > p {
  width: 46%;
  font-size: 1rem;
  color: var(--grayish-blue);
  text-align: center;
  margin-bottom: 5rem;
}

/* sub-section */
.sub-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.left-side img {
  margin-left: -3rem;
}

.right-side {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: -2rem;
}

.sub-box {
  display: inline-block;
  padding: 1.5rem 3rem;
}

.right-side h3 {
  color: var(--dark-grayish-blue);
}

.right-side p {
  width: 55%;
  font-size: 0.9rem;
  text-align: start;
  line-height: 25px;
  margin: 0.5rem 0;
  margin-bottom: 0;
  color: var(--grayish-blue);
}

/* section-2 */

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  margin-top: 1.5rem;
}

.section-2 h2 {
  font-size: 2rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 1rem;
}

.section-2 p {
  width: 70%;
  font-size: 1rem;
  color: var(--grayish-blue);
  margin-bottom: 4rem;
}

/* section-3 */
.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;
  text-align: center;
  margin-top: 3rem;
}

.section-3 h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--dark-grayish-blue);
}

.section-3 h3 {
  color: var(--dark-grayish-blue);
}

.section-3 p {
  text-align: center;
  color: var(--grayish-blue);
  font-size: 1rem;
}

.section-3 img {
  width: 2.5rem;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.col-3-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.col-box {
  width: 21rem;
  min-width: 1rem;
  /* border: solid red thin; */
  height: 17rem;
  padding: 0rem 0.5rem;
  margin: 0rem 0.1rem;
  text-align: center;
}

.col-box h3 {
  margin-bottom: 0.9rem;
}

.sneak-preview h3 {
  display: block;
  margin-top: 0.6rem;
}

.col-box p {
  width: 20rem;
  font-size: 0.9rem;
  line-height: 24px;
}

.col-4-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 6rem;
}

.col-4-box img {
  width: 9rem;
  margin: 1.5rem 2.4rem;
  padding: 0.5rem;
}

/* Section - 4 */
.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 7rem;
}

.section-4 h2 {
  font-size: 2rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 1rem;
}

.section-4 p {
  color: var(--grayish-blue);
  font-size: 1rem;
  width: 65%;
  margin-bottom: 1.5rem;
}

/* footer - Button */
.footer-btn {
  margin: 1rem;
}

/* footer */
.section-footer {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 9rem;
  background: #f6f6f6;
}

.footer-div-img img {
  width: 3.3rem;
}

.footer-div-sec-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 10rem;
  flex-wrap: wrap;
}

.footer-div-sec-1 ul {
  margin: 0.3rem 1rem;
  font-size: 1rem;
  list-style: none;
  color: rgb(93, 93, 93);
}

.footer-div-sec-1 ul:nth-child(3) li {
  margin-bottom: 3.5rem;
}

.footer-div-sec-1 li {
  margin: 1rem;
}

.footer-div-sec-1 li a {
  text-decoration: none;
  color: rgb(93, 93, 93);
}

.footer-div-sec-1 li a:hover,
.footer-div-sec-1 li a:focus {
  color: var(--dark-strong-cyan);
  transition: all 0.3s;
  text-shadow: 0px 0px 2px rgb(163, 163, 163);
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icon img {
  width: 1.3rem;
  margin: 0.8rem;
}

/* media query for mobile width */
@media screen and (max-width: 450px) {
  body {
    background: url(../images/bg-header-mobile.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  img.logo-header {
    width: 8rem;
    margin-bottom: 3.5rem;
  }

  .header h1 {
    font-size: 2rem;
    padding: 0.5rem 1rem;
  }

  .header > p {
    font-size: 1rem;
    width: 82%;
  }

  .btn {
    width: 80%;
  }

  /* section - 1 */
  .section-1 h2 {
    font-size: 1.8rem;
    width: 90%;
  }

  .section-1 p {
    width: 80%;
  }

  .sub-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }

  .left-side {
    margin-bottom: 3rem;
  }

  .sub-section img {
    margin: 0;
    padding: 1rem;
  }

  .sub-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
  }

  .sub-box h3 {
    font-size: 1.5rem;
  }

  .sub-box p {
    width: 80%;
    text-align: center;
    font-size: 1rem;
  }

  /* section - 2 */
  .section-2 h2 {
    width: 80%;
    font-size: 1.8rem;
  }

  .section-2 p {
    width: 80%;
  }

  .section-2 > img {
    margin-bottom: 2rem;
  }

  /* section - 3 */
  .section-3 h2 {
    width: 80%;
    font-size: 1.8rem;
  }

  .section-3 p {
    width: 80%;
    font-size: 1rem;
  }

  .col-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .col-box h3 {
    font-size: 1.5rem;
  }

  .col-box p {
    width: 85vw;
    font-size: 1rem;
  }

  /* section - 4 */
  .section-4 h2 {
    width: 80%;
    font-size: 1.8rem;
  }

  .section-4 p {
    width: 82%;
    font-size: 1rem;
  }

  /* footer */
  .section-footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0;
    margin: 0;
  }

  .section-footer img {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  .footer-div-sec-1 {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 50%;
  }

  .footer-div-sec-1 ul {
    margin: 0;
    padding: 0;
  }

  .footer-div-sec-1 li {
    margin: 0;
    padding: 0.5rem;
  }

  .footer-social-icon {
    margin-top: -4rem;
    margin-bottom: 1rem;
  }
}
